.box{
    height: 100vh;
    width: 100%;
    background-image: url('/picture/bg10.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 100%;
}
.title{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 50px;
}
.img{
    position: absolute;
    z-index: 1;
    height: 70%;
    margin-left:47%;
    margin-top: -440px;
}
.timeline1{
    position: absolute;
    margin-left: 50px;
    margin-top: 70px;
}
.timeline2{
    position: absolute;
    margin-left: 50%;
    margin-top: -80px;
}
.item_title{
    font-size: 20px;
    height: 40px;
    color: black;
}
.item_content{
    font-size: 16px;
    //height: 40px;
    margin-top: -10px;
    width: 460px;
    line-height: 1.5em;
}
.item_time{
    font-size: 18px;
    width: 100px;
    padding-right: 30px;
}
.item{
    margin-top: 10px;
    height: 50px;
}
.button{
    position: absolute;
    margin-top: -130px;
    margin-left: 10%;
    z-index: 99;
}