.tab {
    //background-color: rgba(255,255,255,0.3);
    height: 600px;
    display: inline-block;
}
.text1{
    font-size: 20px;
    color: rgb(128, 127, 127);
    padding: 30px 20px 20px 30px;
}
.text2{
    font-size: 70px;
    //color: rgb(102, 101, 101);
    animation: change 6s linear 0s infinite;
    text-decoration: underline
}
.text3{
    font-size: 70px;
    //color: rgb(102, 101, 101);
    padding: 10px 20px 20px 30px;
    animation: change 6s linear 0s infinite;
}
@keyframes change {
    0% {color: rgb(0, 0, 0);}
    25% {color: rgb(128, 127, 127);}
    50% {color: rgb(224, 221, 221);}
    75% {color: rgb(128, 127, 127);}
    100% {color: rgb(0, 0, 0);}
}