.box{
    height: 100vh;
    width: 100%;
    background-image: url('/picture/bg8.jpg');
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: 100%;
}
.title{
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 50px;
}
.img{
    position: absolute;
    z-index: 1;
    height: 80%;
    margin-left: -130px;
    margin-top: -530px;
}
.timeline{
    position: absolute;
    margin-left: 50%;
    margin-top: -580px;
}
.item_title{
    font-size: 20px;
    height: 40px;
}
.item_content{
    font-size: 16px;
    height: 40px;
    margin-top: -10px;
}
.item_time{
    font-size: 18px;
    width: 100px;
    padding-right: 30px;
}
.item{
    margin-top: 10px;
    height: 50px;
}
.button{
    position: absolute;
    margin-top: -100px;
    margin-left: 35%;
    z-index: 99;
}