.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  color: $color-text1-1;
  font-weight:400;
  font-size: 10px;
  line-height: 40%;
  padding-left: 5%;
  z-index: 999;

  img {
    height: 8em;
    margin-right: 5%;
    border-radius: 4em;
  }
}

.text{
  color:black
}
.distext{
  color:rgb(128, 127, 127);
  padding-left: 8%;
  font-size: 2em;
}